@import "tailwindcss";
@import "@nuxt/ui";

html.dark {
	color: white;
}

#__nuxt, body, div.dark\:bg-gray-900:has(> header) {
	background-color: rgb(var(--color-gray-800)) !important;
}

html.light {
	background-color: white;
	color: #000;
}

html {
	width: 100%;
	height: 100%;
	overflow-y: overlay;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
